@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  line-height: 1;
  background-color: transparent !important;
  color: red !important;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.leaflet-top{
  z-index: 899 !important;
}
.leaflet-right{
  z-index: 800 !important;
}